# --------------------
# Node / npm
# --------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --------------------
# Environment variables
# --------------------
.env
.env.*
!.env.example

# --------------------
# Build outputs
# --------------------
dist/
build/

# --------------------
# Vite
# --------------------
client/dist/

# --------------------
# Logs
# --------------------
logs
*.log

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Editor
# --------------------
.vscode/
.idea/
